@model MCardModel
@{
    ViewData["Title"] = "MWatchScreen";
}
@try
{
    <link rel="stylesheet" href="~/css/MWatchScreen.css" asp-append-version="true" />
   <div class="f-cards">
        <span class="top-span">Watching @Model.Name </span>
        <br>
        <video class="Responsive_video" src="@Model.VideoLink" controls></video>
        <br>
        <br>
        <div class="vm-container">
            <div class="row1">
                <img class="imgsrc" src="@Model.ImgSrc">
            </div>
            <div class="row2">
                <div class="Info">
                    <h3>@Model.Name</h3>
                    <br>
                    <div class="m-info">
                        <p><b>Genre : </b>@Model.Genre</p>
                        <p><b>Director : </b>@Model.Director</p>
                        <p><b>Cast : </b>@Model.Cast</p>
                        <p><b>Release-Date : </b>@Model.DateOfRelease</p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="context">
            <p><b>Context : </b> @Model.Desc</p>
        </div>
        <br>
   </div>
}
catch (System.NullReferenceException e)
{
    Console.WriteLine(e);
}